/* Sidebar container styling */
.sidebar {
  position: fixed;
  top: 180px;
  left: 20px;
  width: calc(20% - 40px);
  height: calc(100vh - 260px); /* to leave space for footer */
  overflow-y: auto;
  padding-right: 15px;
  padding-bottom: 40px; 
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: calc(100vh - 260px); 
}

/* Anchor link styling within the sidebar */
.sidebar a {
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  transition: all 0.3s ease;
  background-color: #ffffff26;
  box-shadow: 0 5px 15px #0000001a;
  margin-left: 18px;
}

/* First anchor link margin adjustment */
.sidebar a:first-child {
  margin-top: 20px; 
}

/* Hover state for anchor links */
.sidebar a:hover {
  background-color: #ffffff40;
  transform: translateX(5px);
}

/* Active link styling */
/*!important ensures these styles are applied consistently, overriding other conflicting styles.*/
.active-link {
  background-color: #ffffff4d !important;
  box-shadow: 0 5px 15px #00000026 !important;
  font-weight: 700 !important;
}

/* Custom scrollbar for sidebar */
.sidebar::-webkit-scrollbar {
  width: 6px;
} 

/* Scrollbar thumb styling */
.sidebar::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 10px;
}

/* Scrollbar track styling */
.sidebar::-webkit-scrollbar-track {
  background-color: #f8f9fa;
  border-radius: 10px;
}

/* Logout button styling */
.logout-button {
  width: calc(100% - 18px); /* Match the width of anchor links */
  display: block;
  padding: 20px 25px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  transition: all 0.3s ease;
  background-color: #ffffff26;
  box-shadow: 0 5px 15px #0000001a;
  margin-left: 18px;
  border: none;
  cursor: pointer;
}

/* Hover state for logout button */
.logout-button:hover {
  background-color: #ffffff40;
  transform: translateX(5px);
}